@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Confocal</title>
    @Styles.Render("~/bundles/styles")
    @* Scripts.Render("~/bundles/modernizr") *@

</head>
<body>
    <header></header>
    <article>@RenderBody()</article>
    <footer>
        <a href="/about">confocal.io</a>
        @if (User.Identity.IsAuthenticated) {
            <text>&bull;</text> <a href="/admin">admin</a>
        }
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>